@import "bootstrap.min.css";

.card-image-top {
  width: 50%;
  display: block;
  margin: 20px auto;
}

.banner {
  margin: 80px 0 120px;
  text-align: center;

  small {
    display: block;
    margin-top: 10px;
    font-weight: 400;
    color: #ddd;
    font-size: 50%;
  }

  h1 {
    font-size: 3.5em;
    font-weight: 200;
    color: lightcoral;
  }
}


@import 'kaato';
