---
title: Kaato | The Music Player
---

.big-banner
  .logo
  %h1
    Kaato
    %small The Music Player
  %a.app-store-link(href="https://itunes.apple.com/app/id1116514212?mt=8" target="_blank")
    %img(src="/images/app_store.svg" alt="Download on App Store")
